.addTodoItem {
  background-color: rgb(222, 220, 220);
  padding: 15px;
  margin: 10px;
  display: flex;
  align-items: center;
}

.addTodoItem label {
  flex: 1 0 50px;
  margin-right: 20px;
}

.addTodoItem input {
  height: 30px;
  flex: 8 0 auto;
}

.addTodoItem button {
  height: 30px;
  flex: 1 0 50px;
  margin-left: 20px;
}
