.todoItem {
  margin: 10px 10px;
  padding: 15px;
  display: flex;
  align-items: center;
}

.todoItem input {
  margin-right: 20px;
}

.todoItem.completed {
  background-color: lightgray;
}

.todoItem.completed span {
  text-decoration: line-through;
}

.todoItem.uncompleted {
  background-color: rgb(222, 220, 220);
}

.todoItem button {
  margin-left: auto;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
}
